* {
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.container {
    width: 100vw;
    max-width: 600px;
    margin: auto;
    margin-top: 70px;
}

.header {
    display: flex;
    justify-content: space-evenly;
    background-color: black;
    color: white;
    padding: 13px;
}

.nav1 a {
    text-decoration: none;
    color: white;
    padding-left: 20px;
    font-size: 12px;
}
.autor {
    display: flex;
    justify-content: space-evenly;
    padding: 25px 0 25px 0;
    font-size: 12px;
    color: gray;
}