* {
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.container {
    width: 100vw;
    max-width: 600px;
    margin: auto;
    margin-top: 70px;
}

.header {
    display: flex;
    justify-content: space-evenly;
    background-color: black;
    color: white;
    padding: 13px;
}

.header h4 {
    margin-right: 65px;
}

.nav1 a {
    text-decoration: none;
    color: white;
    padding-left: 20px;
    font-size: 12px;
}
.autor {
    width: 400px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 30px 0 30px 0;
    font-size: 12px;
    color: gray;
}


.text {
    width: 400px;
    margin: auto;
    text-align: justify;
    color: gray;
}

.text h1 {
    padding-bottom: 30px;
    font-size: 22px;
}

.text p {
    font-size: 14px;
    line-height: 24px;
    padding-bottom: 30px;
}

.footer {
    display: flex;
    justify-content: space-evenly;
    padding: 15px;
    border-top: 2px solid rgb(227, 225, 225);
    font-size: 13px;
    color: rgb(227, 225, 225);
}

.nav2 a{
    text-decoration: none;
    color: rgb(227, 225, 225);
    padding-right: 15px;
}