* {
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14px;
}

.container {
    width: 100%;
    max-width: 840px;
    margin: auto;
    margin-top: 200px;
    display: flex;
    justify-content: space-between;
}

.square {
    background-color: rgb(227, 226, 226);
    width: 80px;
    height: 80px;
    border-radius: 5px;
}

.text {
    line-height: 21px;
}

#parraph2 {
    color: rgb(165, 164, 164);
    margin-bottom: 5px;
}

.button1 {
    border: none;
    border-radius: 5px;
    font-size: 10px;
    width: 120px;
    padding: 10px;
    background-color:  rgb(227, 226, 226);
    color: white;
}

.button2 {
    border: 2px solid rgb(165, 164, 164);
    border-radius: 5px;
    margin-left: 10px;
    font-size: 10px;
    width: 120px;
    padding: 10px;
    background-color: white;
    color:  rgb(165, 164, 164);
}

.punctuation {
    margin-left: 250px;
}

.valoraciones p{
    text-align: right;
    font-size: 11px;
    line-height: 17px;
}

#p1 {
    font-weight: bold;
}

#p2 {
    color: rgb(165, 164, 164);
}

.square_star {
    text-align: center;
}

.star {
    margin-top: 5px;
}

.mini-square {
    background-color: rgb(227, 226, 226);
    width: 20px;
    height: 20px;
    border-radius: 10px;
    padding: 10px;
}


